{% extends "base.html" %}

{% block title %}アカウント作成{% endblock title %}
<h1>アカウント作成</h1>

{% block content %}
    <form method="POST" >
        {% csrf_token %}
        <input type="text" name="username" placeholder="ユーザーID">
        <input type="password" name="password1" placeholder="パスワード">
        <input type="password" name="password2" placeholder="パスワード確認用">
        <small>パスワードは8文字以上で設定してください</small>

        {% if form.errors %}
            <span>利用できないユーザーIDやパスワードの可能性があります。入力内容を再度ご確認ください。</span>
        {% endif %}

        <button>アカウント作成</button>
    </form>

{% endblock content %}