{% extends "base.html" %}
{% load static %}

{% block title %}投稿削除{% endblock title %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_creations/css/creation_delete.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="container">
    <h1>作品削除確認</h1>
    <p>本当に削除しますか？</p>
    <form method="POST">{% csrf_token %}
        <!-- Display the title of the object to be deleted for confirmation -->
        <p>{{ object.title }}を削除します。</p>
        <button type="submit">削除する</button>
    </form>
</div>
{% endblock content %}
