* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
}

.creation-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 10%;
}

.video-container {
    flex: 1;
    padding: 80px;
}

.text-container {
    flex: 1;
    padding: 0 20px;
}

.video-container video {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.text-container h1,
.text-container p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.review-section {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.review {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.action-button {
    display: inline-block;
    background-color: #f56a79;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    background-color: #e33e5a;
}

h2 {
    text-align: center;
    margin: 80px 0;
    font-family: 'Cursive', 'Arial', sans-serif;
    color: #000;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #eaeaea;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 20px;
}

h1 {
    font-size: 1.5rem;

}
