/* 全体のマージンとパディングをリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

/* コンテンツのメインコンテナーを中央に配置し、両端に余白を設ける */
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 2rem;
}

/* セクションタイトルのスタイル調整 */
h1 {
    text-align: center;
    margin: 80px 0;
    font-family: 'Cursive', 'Arial', sans-serif;
    color: #000; /* 色を黒に設定 */
    font-size: 2rem; /* タイトルのフォントサイズを大きくする */
    text-shadow: 2px 2px 2px #eaeaea; /* テキストに影をつける */
    text-decoration: underline; /* 下線を追加 */
    text-decoration-color: yellow; /* 下線の色を黄色に */
    text-decoration-thickness: 20px; /* 下線の太さを5pxに変更 */

}

/* カードとグリッドのスタイル調整 */
.creation-section {
    margin: 2rem 5%; /* 両脇により多くの空白を作るためのパーセンテージベースのマージン */
    counter-reset: item;
}

.creation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* どんなデバイスでも3列になるように設定 */
    gap: 2rem; /* カード間のスペースを広げる */
    padding: 2rem; /* グリッド全体のパディングを増やす */
}

.creation-card {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 15px; /* 角の丸みを増やす */
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #FFF; /* カードの背景色に薄いピンクを設定 */
}

.creation-card:hover {
    transform: translateY(-5px);
}

.video-container video {
    width: 100%;
    display: block;
}

.text-container {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem; /* テキストのサイズを少し大きくする */
}

/* リンクのデザインを可愛くする */
a {
    text-decoration: none;
    color: #f56a79; /* リンクの色を可愛らしいピンクに */
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
}

.ranking-card::before {
    content: counter(item); /* カウンターで数字を表示 */
    counter-increment: item; /* カウンターを1ずつ増やす */
    position: absolute;
    top: 10px; /* マークをカードの内側上部に配置 */
    left: 10px;
    color: #f56a79; /* ピンク色の文字 */
    font-size: 2rem; /* 文字サイズ */
    font-weight: bold;
    z-index: 10; /* 他の要素の上に表示 */
}

/* タイトルのフォントスタイルを調整 */
.text-container h3 {
    font-size: 1rem; /* タイトルのフォントサイズを小さく */
    font-weight: lighter; /* タイトルのフォントをより細く */
    color: #333; /* 文字色 */
    margin-top: 0.5rem; /* 上部の余白 */
}

/* 全体のフォントを可愛らしいものに変更 */
body, h1, h2, h3, a, .creation-card::before {
    font-family: 'Comic Sans MS', 'Arial', sans-serif; /* よりカジュアルで可愛らしいフォント */
}
