* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 2rem;
}

h1 {
    text-align: center;
    margin: 80px 0;
    font-family: 'Cursive', 'Arial', sans-serif;
    color: #000;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #eaeaea;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 20px;

}

.creation-section {
    margin: 2rem 5%;
    counter-reset: item;
}

.creation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.creation-card {
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #FFF;
}

.creation-card:hover {
    transform: translateY(-5px);
}

.video-container video {
    width: 100%;
    display: block;
}

.text-container {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #f56a79;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.ranking-card::before {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #f56a79;
    font-size: 2rem;
    font-weight: bold;
    z-index: 10;
}

.text-container h3 {
    font-size: 1rem;
    font-weight: lighter;
    color: #333;
    margin-top: 0.5rem;
}

body, h1, h2, h3, a, .creation-card::before {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}
