<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>{% block title %}{% endblock title %} | cute×electronics</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block additional_css %}{% endblock additional_css %}
    </head>

    <body>
    <header class="header-container">
        <div class="header-left">
            <img src="{% static 'images/logo1.png' %}" alt="Logo 1" class="logo">
            <img src="{% static 'images/logo2.png' %}" alt="Logo 2" class="logo">
        </div>
        <nav>
            <a href="{% url 'my_creations:index' %}">トップページ</a>
            <a href="{% url 'my_creations:creations-list' %}">作品一覧</a>
            <a href="{% url 'my_creations:creations-create' %}">投稿する</a>


            {% if request.user.is_authenticated %}
              <a href="{% url 'accounts:logout' %}">ログアウト</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">ログイン</a>
            <a href="{% url 'accounts:signup' %}">会員登録</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock content %}
    </body>
</html>
